<section class="mt-5">
    <div class="container mb-4" style="background-color: white;">

        <h1 class="display-4">Fila de chamados</h1>
        <p class="lead"> <%= 'Segue abaixo os chamados atribuídos ao responsável: '+username%> </p>

        <table class="table mt-4">
            <thead class="thead">
              <tr>
                <th scope="col">Nº</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descricao</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% Array.from(registros).forEach(element => { %>
                  
                <tr>
                    <th><%= element.id %></th>
                    <td><%= element.titulo %></td>
                    <td><%= element.descricao %></td>
                    <td><%= element.tipo_protocolo %></td>
                    <td><%= element.status %></td>
                </tr>

              <% }); %>
            </tbody>
          </table>
    </div>
</section>